div.page-title > div {
    display : inline-flex;
    font-size : 15px !important;
}

div.page-title {
    font-size : 20px !important;
}


.breadCrumbHierarchyMultipleElement {
    display : block;
    cursor: pointer;
}

.breadCrumbHierarchyMultipleElement a {
    display : block;
}



.BreadcrumbHierarchyLeft, .BreadcrumbHierarchyRight {
    display : flex;
    font-size : 12px;
}


.BreadcrumbHierarchyLeft i.fa , .BreadcrumbHierarchyRight i.fa{
    font-size : 12px!important;
}

.breadCrumbHierarchyMultipleElementCDS {
    display : flex;
    font-size : 14px;
}    



div.page-title div.breadCrumbHierarchyMultipleElementListHidden{
    display: none;
    position: absolute;
}

div.page-title div.breadCrumbHierarchyMultipleElementListVisible {
    display: block;
    visibility: visible;
    background-color: #ECEFF1;
    box-shadow: 1px 3px 3px #BDBDBD;
    position: absolute;
}

div.page-title a.HierarchyLink {
    font-size : 12px;
}

a.HierarchyLink {
    font-size : 12px;
}

div.page-title a.historyHierarchyLink {
    font-size : 12px;
    color: red;
}

